.todo-container {
  height: 500px;
  width: 500px;
  background-image: url('https://res.cloudinary.com/djfaxrxbf/image/upload/v1671812024/26005498_limffg.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.heading {
  color: black;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 25px;
}
.add-new {
  height: 30px;
  width: 300px;
  border-radius: 6px;
  border: solid 1px lightgrey;
  margin-right: 5px;
  padding: 5px;
  margin-bottom: 20px;
}
.add-button {
  height: 30px;
  width: 50px;
  border-radius: 6px;
  border: solid 1px lightgrey;
  background-color: blue;
  color: white;
  margin-bottom: 20px;
}
.unordered-list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list-item{
  height: 30px;
  width: 400px;
  border-radius: 6px;
  border: solid 1px lightgrey;
  margin-right: 5px;
  padding-left: 8px;
  background-color: white;
  color: black;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
.delete-button {
  height: 28px;
  width: 50px;
  border-radius: 4px;
  border: solid 1px lightgrey;
  background-color: blue;
  color: white;
  font-size: 12px;
  padding: 4px;
}
